<!DOCTYPE html>
<html lang="en">
<head>
    <!-- 합쳐지고 최소화된 최신 CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

<!-- 부가적인 테마 -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

<!-- 합쳐지고 최소화된 최신 자바스크립트 -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        <style>
        body {background-color:whitesmoke;}
        
        {
	font-family: sans-serif;
}
.block{
	margin: 50px;
	width: 400px;
}
.block span{
    display: block;    
}
h1, h2{
	background:orange;
	display: inline;
	padding:10px;
	line-height: 2em;
}

        </style>
        
        <h1> meeeuw_u </h1>

        <a href = "{% url 'about' %}">ABOUT</a>
        
        <form action = "{% url 'count' %}">
            <textarea cols="40" rows="10" name="fulltext"></textarea>
        <br>
        
        
        <!-- Indicates caution should be taken with this action -->
<button type="button" class="btn btn-warning">count!</button>


        </form>

</body>
</html>